@model BaseMVC.ViewModels.Project.ProjectInputViewModel
@{
    ViewBag.Title = "New Project";
}
<h2>New</h2>

@Html.Partial("_AddEdit")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
