@{
    ViewBag.Title = "Project Time Report";
}

<h2>@ViewBag.Message</h2>
<p>
    @Html.ActionLink("Add project", "Add", "Project")
</p>
<p>
    @Html.ActionLink("Projects list", "Search", "Project")
</p>