<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      >
  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="file" xsi:type="File"
              layout="[${longdate}:${level}:${logger}][${callsite}][${message}]"
              footer="....."
              fileName="${basedir}/Logs/BaseMVC.log"
              archiveFileName="${basedir}/Logs/Archive/BaseMVC.${date}.log"
              archiveEvery="Day"              
              archiveNumbering="Rolling"
              maxArchiveFiles="10"
              encoding="UTF-8"
              createDirs="true" />
    </target>

    <target name="asyncFileError" xsi:type="AsyncWrapper">
      <target name="fileError" xsi:type="File" 
              layout="[${longdate}:${level}:${logger}][${callsite}][${message}]${newline}${exception:format=tostring}"
              fileName="${basedir}/Logs/BaseMVCError.log"
              archiveFileName="${basedir}/Logs/BaseMVCError.${date}.log"
              archiveEvery="Day"              
              archiveNumbering="Rolling"
              maxArchiveFiles="10"
              encoding="UTF-8"
              createDirs="true" />
    </target>
    <target name="asyncFileNHibernate" xsi:type="AsyncWrapper">
      <target name="fileNHibernate" xsi:type="File"
              layout="[${longdate}:${level}]${newline}${message}${newline}###################################"
              fileName="${basedir}/Logs/BaseMVCNHibernate.log"
              archiveFileName="${basedir}/Logs/Archive/BaseMVCNHibernate.${date}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="10"
              encoding="UTF-8"
              createDirs="true" />
    </target>
  </targets>
  <rules>
    <logger name="*.NLogLogger" minlevel="Debug" writeTo="asyncFileNHibernate" final="true"/>
    <logger name="*" level="Error" writeTo="asyncFileError" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="asyncFile"/>
  </rules>
</nlog>
