@model BaseMVC.ViewModels.Task.TaskInputViewModel

@{
    ViewBag.Title = "Add task";
    ViewBag.SubmitTitle = "Add";
}
<h2>Add</h2>

@Html.Partial("_AddEdit")

<div>
    @Html.ActionLink("Back to Project list", "Search", "Project")
</div>
